* {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  font-family: "Poppins", sans-serif;
}

main {
  min-height: 100vh;
}

.main_body {
  display: flex;
  flex-direction: row;
}
